@using Fulbo12.Core.Futbol;
@model Futbolista;
@{
    ViewData["Title"] = "Futbolista - Detalle";
}
<h2 class="text-center">@Model.Persona.NombreCompleto (@Model.Persona.Pais.Nombre)</h2>
<h5 class="text-center"> @Model.Equipo.ToString() • @Model.Tipofutbolista.Nombre .</h5>